{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock title %}
    <link rel="stylesheet" type="text/css" href="{% static 'works/styles.css' %}?11123423511">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% block navigation %}
    <nav>
        <ul class="menu-bar">
            <li><a href="{% url 'title_page' %}">Главная</a></li>
            <li><a href="{% url 'cabinet:logout' %}">Выход</a></li>
        </ul>
        <span class="logo">Система контроля</span>
    </nav>
{% endblock navigation %}

{% block header %}
    <h1>Все предметы</h1>
{% endblock header %}

{% block table %}
{% endblock table %}

</body>
</html>