{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'works/styles.css' %}?111">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Все предметы</h1>

<table class="resp-tab">
    <thead>
    <tr>
        <th>Название</th>
        <th>Не начато</th>
        <th>В работе</th>
        <th>Выполнено</th>
        <th>Просрочено</th>
        <th>Всего</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for subject in subjects %}
        <tr
                {% if subject.completed %}
                    class="completed"
                {% else %}
                    {% if subject.has_expired %}
                    class="expired"
                    {% endif %}
                {% endif %}
        >
            <td>
                <div>
                    <a href="{% url 'works:works_list' subject.pk %}">
                        {{ subject.name }}
                    </a>
                </div>
            </td>
            <td>{{ subject.not_started_works_count }}</td>
            <td>{{ subject.in_work_works_count }}</td>
            <td>{{ subject.completed_works_count }}</td>
            <td>{{ subject.expired_works_count }}</td>
            <td>{{ subject.total_works_count }}</td>
            <td><a href="{% url 'works:update_subject' subject.pk %}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a></td>
            <td><a href="{% url 'works:delete_subject' subject.pk %}">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<a href="{% url 'works:add_subject' %}" class="button">Добавить</a>
</body>
</html>