{% extends 'works/base.html' %}

{% block header %}
<h1>Все работы по предмету {{ subject.name }}</h1>
{% endblock header %}

{% block navigation_pages %}
    <li><a href="{% url 'title_page' %}">Главная</a></li>
    <li><a href="{% url 'works:subjects_list' %}">Предметы</a></li>
    <li><a href="{% url 'cabinet:logout' %}">Выход</a></li>
{% endblock %}

{% block table %}
<table class="resp-tab">
    <tr>
        <th>Название</th>
        <th>Статус</th>
        <th>Дедлайн</th>
        <th></th>
        <th></th>
    </tr>

    {% for work in works %}
        <tr>
            <td>{{ work.name }}</td>
            <td>{{ work.status_str }}</td>
            <td>{{ work.deadline }}</td>
            <td><a href="{% url 'works:update_work' work.pk %}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a></td>
            <td><a href="{% url 'works:delete_work' work.pk %}">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a></td>
        </tr>
    {% endfor %}

</table>
<a href="{% url 'works:add_work' subject.pk %}" class="button">Добавить</a>
{% endblock table %}