{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'works/styles.css' %}?111">
</head>
<body>
<h1>Все работы по предмету {{ subject.name }}</h1>

<table class="resp-tab">
    <tr>
        <th>Название</th>
        <th>Статус</th>
        <th>Дедлайн</th>
        <th></th>
        <th></th>
    </tr>

    {% for work in works %}
        <tr>
            <td>{{ work.name }}</td>
            <td>{{ work.status_str }}</td>
            <td>{{ work.deadline }}</td>
            <td><a href={% url 'works:update_work' work.pk %}>Редактировать</a></td>
            <td><a href={% url 'works:delete_work' work.pk %}>Удалить</a></td>
        </tr>
    {% endfor %}

</table>
<a href="{% url 'works:add_work' subject.pk %}">Добавить</a>
</body>
</html>