<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Все работы по предмету {{ subject.name }}</h1>

<table>
    <tr>
        <th>Название</th>
        <th>Статус</th>
        <th>Дедлайн</th>
    </tr>

    {% for work in works %}
        <tr>
            <td>{{ work.name }}</td>
            <td>{{ work.status_str }}</td>
            <td>{{ work.deadline }}</td>
        </tr>
    {% endfor %}

</table>
<a href="{% url 'works:add_work' subject.pk %}">Добавить</a>
</body>
</html>