{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ view.title }}</title>
</head>
<body>
<h2>Вход</h2>
{% if user.is_authenticated %}
    Вход уже выполнен
{% else %}
    <div class="session">
        <form method="post" class="log-in">
            {% csrf_token %}
            <div class="floating-label floating-email">
                {{ form.username.label }}{{ form.username }}
            </div>
            <div class="floating-label floating-password">
                {{ form.password.label }}{{ form.password }}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Войти">
        </form>
    </div>
{% endif %}
</body>
</html>