<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ view.title }}</title>
</head>
<body>
<form method="post">
    {% block header %}
        <h1>{{ view.title }}</h1>
    {% endblock header %}
    {% csrf_token %}
    {{ form.as_p }}
    {% block footer %}
        {# Если Дима сделает ссылку похожую на кнопку, можно без такого костыля #}
        <input class="button" type="button" onclick="window.location.replace('{{ view.cancel_url }}')"
               value="Отмена"/>
        <input type="submit" value="Сохранить">
    {% endblock footer %}
</form>
</body>
</html>